*{
    color:white;
    text-decoration: none;
}
.details{
    margin-left: 15px;
    margin-right: 15px;
    scroll-behavior: smooth;
}
.fontStyle{
    font-size: 17px;
}
.navbar{
    background: linear-gradient(45deg,rgb(0, 0, 0),black); 
    font-family: calibri;
    padding-right: 15px;
    padding-left: 15px;
    border-bottom: 2px solid white;
    width: 100%;
}
.navdiv{
    display: flex; align-items: center; 
    justify-content: space-between;
}
.navdiv ul{
    position: absolute;
    right: 0px;
    align-items: center;
    padding: 15px 10px 0px 10px;
}
.logo a{
    font-size: 30px; 
    align-items: center;

    font-weight: 600; color: white;
    text-decoration: none;
}
li{
    list-style: none; display: inline-block;
}
li a{
    text-decoration: none;
    color: white; 
    font-size: 20px; 
    font-weight: bold;
    margin-right: 25px;
    cursor: pointer;
}

li:hover{
    background: linear-gradient(45deg, red,black);
    padding: 5px;
    border-radius: 4px;
}
@media only screen and (max-width: 591px) {
    .logo{
        display: none;
    }
    .navdiv ul{
        position: relative;
        display: flex;
        justify-content: space-around;
    }
    .graphDisplayStyle{
        display: block !important;
        width: 270px;
        align-items: center;
        margin: 0px auto;
    }
}
.graphDisplayStyle{
    display: flex;
    justify-content: space-around;
}

.stressPercentage{

min-width: 270px;
min-height: 250px;
background: white;
}
.agrresiveDistribution{
    /* position: absolute; */
    min-width: 270px;
    min-height: 250px;
    background: red;
    margin-right: 10px;
    margin-top: 10px;
}
.aggressivePercentage{
width: 249px;
height: 250px;
background: #FFFFFF;
right:0;
}

.completeResult{
    align-items: center;
    padding-top:-10px ;
}

.drivingHistory{
    padding: 40px 40px;
    margin: 0 auto;
}
@media screen and (min-width: 1300px) {
    .drivingHistory {
    padding: 85px; 
    }
}
table {
    border-collapse: collapse;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    margin: 0 auto;
    text-align: center;

}

thead th{
    border: 1px solid white; 
    border-top: none;
}
tbody tr {
    border: 1px solid white; 

}

tbody td, th{
    border-left: 1px solid white; 
    border-right: 1px solid white; 
}
tbody:last-child tr{
    height: 15px;
    border-bottom: none;
}


/* RealTime Page */
.realTimeStress{
    width:100%;
    background-color: #FFFFFF;
    min-height: 270px;
    height: auto;
    margin: 15px auto;
}

.agressiveScroll{
    width:100%;
    margin: 15px auto;
    background-color: rgb(45, 235, 45);
    height: 40px;
    border-radius: 12px;
}

.instantlastStyle{
    margin: 45px auto;
}
.aggresiveVsStress{
    width: 55%;
    background-color: rgb(90, 224, 28);
    min-height: 270px;
    height: auto;
}
.titleDisplay{
    height: 270px;
    background:linear-gradient(20deg,white,rgb(90, 224, 28)); 
    margin-left: 15px;
    margin-right: 30px;
    width: 90px;
}

.instantResult{
    padding-top: 10px;
    font-size: 20px;
}
#instantAdvice, #instantEmoji{

    font-size: 30px;
    color: gray;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    padding-right: 5px;
    
}